#myfirstdiv{
    margin-left:30px;
    margin-right:30px;
    margin-top:15px;
    margin-bottom:15px;
    border:dashed;
    border-color:orange;
    border-left-width:10px;
    border-right-width:10px;
    border-top-width:5px;
    border-bottom-width:5px;
    padding-left:80px;
    padding-right:80px;
    padding-top:40px;
    padding-bottom:40px;
    width:320px;
    height:64px;
    font-family:Arial, Helvetica, sans-serif;
    font-size:48px;
    background-color:greenyellow;
    color:white;
}

. image{
    border:dotted;
    border-color:crimson;
    position:sticky;
}